*
{
    margin: 0;
    padding: 0;
    
}

body{
  background-color: black;
  height: 100vh;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

#hydra-canvas {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* back layer */
  pointer-events: none; /* so it doesn’t block clicks */
  background-color: black;
  overflow: hidden;
}

.webgl-canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1; 
            pointer-events: auto;
        }

.css3d-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; 
  background-color: transparent;
  pointer-events: none;
}


