*
{
    margin: 0;
    padding: 0;
    
}

.phone-closed{
  background-color: black;
  top: 0;
  height: 100vh;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

#hydra-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; /* back layer */
  pointer-events: none; /* so it doesn’t block clicks */
}

.webgl-canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1; /* Ensure WebGL canvas is above CSS3D canvas for controls */
            pointer-events: auto; /* Always allow pointer events on WebGL canvas for OrbitControls */
        }

.css3d-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* top */
  background-color: transparent;
  pointer-events: none; /* Let events pass through */
}
